/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
}

.form-container {
    background-color: #ffffff; /* Fondo blanco para que resalten */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.form-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.tabs-container{
    display: flex;
    gap: 15px;
    margin: 0;
}
.tab-btn{
    flex: 1;
    width: auto;
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.tab-btn.active{
    background-color: #007bff;
    color: #fff;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo{
    margin: 0;
    color: #007bff;
}
.forms-wrapper{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}